{% extends "layout.html" %}

{%block head%}
    <script src="/static/index.js"></script>    
    
    <link rel="stylesheet" href="/static/style.css">
{%endblock%}

{%block body%}

<style>
    .homeDivContainer{
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .homeDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #greeter{
        text-align: center;
    }
</style>

<main class="homeDivContainer">
    <div class="homeDiv">

        <div id="greeter">
            <h2>Hello {{username}}!</h2>
            Search existing rooms or create a new one .
        </div>
        <form action="/create" method="POST">
            <input type="text" name="roomname" class="form-control new_room_name">
            <button type="submit" class="form-control">create</button>
        </form>

        <button class="search">
            <img src="/static/search-white-18dp.svg" alt="">
        </button>

        <div class="rooms"></div>
    </div>
</main>
    
{%endblock%}

