{% extends "layout.html" %}

{%block head%}
<link rel="stylesheet" href="/static/style.css">


<style>
  ul{
    word-wrap: break-word;
    text-align: justify; 
    width: 70%;
    margin-top: 10px;
  }

  .signinDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .signinContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 10px;
  }

  h4{
    text-align: center;
  }

  button{
    background: black;
    color: white;
  }

  @media (max-width: 600px) {
    form{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
{%endblock%}

{%block body%}

<main class="signinContainer">
  <div class="signinDiv">

    <img src="/static/person-24px.svg" alt="">
    <h4>Enter your username and sign in to start chatting!</h4>
    <form action="/signin" method="POST">
      <input type="text" class="form-control" id="username" name="username" autofocus aria-describedby="userHelp" placeholder="username" required>
      <input type="password" class="form-control" name="password" placeholder="password" required>
      <button type="submit" class="btn btn-dark">Log in</button>
    </form>

    <ul>
      <li>
        <small id="userHelp" class="form-text text-muted">If you are unable to signin , maybe username is already taken , try a different one !</small>
      </li>
      <li>
        <small id="userHelp" class="form-text text-muted">Once you login with unique username , you can comeback anytime and login , the username will only be yours !</small>
      </li>
    </ul>


    <!-- for flash messages -->
    <div class="flash">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    </div>

  </div>

</main>

{%endblock%}